<div class="container">
  <div class="top-nav">
    <div class="nav-content active">Football</div>
    <div class="vl"></div>
    <div class="nav-content in-active">Tennis</div>
  </div>
  <div class="container-search">
    <form class="nosubmit">
      <input
        class="nosubmit"
        type="search"
        [formControl]="name"
        placeholder="Search Competation..."
      />
    </form>
  </div>
  <div>
    <div class="chips-container">
      <div
        class="chip"
        (click)="addToActive(index)"
        [ngClass]="{ 'active-chip': recipient.isActive }"
        *ngFor="let recipient of searchObject; let index = index"
      >
        {{ recipient.name }}
      </div>
    </div>
    <div class="button-next">
      <button class="c-btn" (click)="next()">NEXT</button>
    </div>
  </div>
</div>
