<div class="container">
  <div
    *ngIf="!placedBet && !addedtobetslip"
    class="example-card animated flip infinite custom"
    style="margin: 20px 0px;"
    [@cardAnimator]="animationState"
    (@cardAnimator.done)="resetAnimationState()"
    (swipeleft)="startAnimation('slideOutLeft')"
    (swiperight)="startAnimation('slideOutRight')"
  >
    <div class="teamNames">{{ bindingObject.teamNames }}</div>
    <div class="league">
      <div>{{ bindingObject.league }}</div>
      <div>{{ bindingObject.categoryName }}</div>
    </div>
    <!-- <div class="dateTime">Start Time : {{ bindingObject.startTime }}</div> -->
    <div class="odds-container">
      <div class="market">{{ bindingObject.marketName }}</div>
      <div class="odds">
        <div *ngFor="let header of oddsHeader">
          <button
            class="odds-button"
            [ngClass]="{ 'active-odd': header == selectedOdd }"
            (click)="selectOdd(header)"
          >
            <span class="span-style">{{ header }}</span>
            <span class="odd-style">{{ bindingObject[header] }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="stake">
      <div class="form-group">
        <div class="label">Stake</div>
        <div class="input-group">
          <input
            type="text"
            id="myNumber"
            class="form-control input-number"
            value="1"
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="placedBet" class="custom">Bet placed successfully</div>
  <div *ngIf="addedtobetslip" class="custom">Bet Added to Betslip</div>
</div>
